---
name: Testing Report
about: Report how well a generated lens adapter worked
title: '[test] '
labels: 'test report'
assignees: ''
---

# What combination did you test?

**Male Mount:**

**Female Mount:**

# What lens(es) and body(ies) did you test with?

# Did it work?

[ ] Yes

[ ] No

# What print settings did you use?

Also include what material you used

# Did you have to make any alterations?

Describe any steps you took to get it to work. Attach the model or link to the model sharing site if you did.

# If it didn't work, what problems did you encounter?

# Any additional notes:

# If you'd like, attach a photo of it in action
